body {
  background-color: whitesmoke;
  font-family: 'Didact Gothic', sans-serif;
}

.btn, .btn-sm {
  color: black;
  background-color: inherit;
  border: 1px black solid;
}

.btn:hover, .btn-sm:hover {
  color: white;
  background-color: black;
  border: 1px black solid;
}

.btn:focus, .btn-sm:focus {
  box-shadow: none;
  outline: none;
}

.form-control:focus {
  border-color: black;
  box-shadow: none;
}